html
{
    display: flex;
    justify-content: center;
}

#container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    border: 2px solid red;
}
.box {
    border: 2px solid black;
    width: 6.25%;
    padding: 8px;
}